<h1>Songs</h1>


  <% @songs.each do |song| %>
    <li>
      <a href="<%= song_path(song) %>">
        <%= song.title %>  by: <%= song.artist_name %> 
      </a>
    </li>
  <% end %>


<br>
<br>
<%= link_to "Add Song", new_song_path %>
<br>
<br>
<%= link_to "All Artists", artists_path %>
